{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
    <header>
        <div class="join">
            <h1>
                Welcome on Online Quizzes Website
                <p>We are happy to see you</p>
            </h1>
            <p></p>
            <p></p>
            <h3>Join us</h3>
            <a class="button" href="/register" >Register</a>
        </div>
    </header>
    <main class="main">
        <h4 class="text">Make your own quiz</h4>
        <a href="/login" class="button">Start by login</a>
        <image class="image" alt="test" src="static/test.jpg"></image>
    </main>
{% endblock %}